<div class="wiki-page">
  <h1>Blocipedia - An Introduction</h1>
  <h4><p>So you somehow stumbled across Blocipedia - Wikipedia's favorite and less boring step-child!
    Were like that place everyone says you should check out but are too nervous to try.  We're the sriracha to your
    hot sauce.  Like choosing skydiving over paragliding.  It's not for everyone, but once you try it, you'll
    be party of an exclusive, fanatical club!<p>
    <p>Basic membership is free after <%= link_to "sign up", new_user_registration_path %>, however, anyone can visit
    and see all the public wikis we host.<p></h4>
</div>
