<div class="wiki-page">
  <h1>Welcome to Blocipedia!</h1>
  <ul class="welcome-ul">
    <li class="welcome-li"><h3><%= fa_icon "globe"%> Ever wanted to record information on a topic your passionate about to share with the world? </h3></li>
    <li class="welcome-li"><h3><%= fa_icon "book" %> Want to create a wiki loaded with comprehensive, crowd-sourced knowledge and experience?</h3></li>
    <li class="welcome-li"><h3><%= fa_icon "sitemap" %> Want to join an ever-growing community of peer-learning, sharing and discovery?</h3></li>
  </ul>
</br>
  <h4>Well, you've found what you've been looking for! Blocipedia is all that and more! Basic membership is free after <%= link_to "sign up", new_user_registration_path %>, however, anyone can visit
  and see all the public wikis we host.</h4>
</div>
