<div class="row">
  <% if @wikis.nil? %>
    <div class="media">
      <%= link_to "Create New Wiki", new_wiki_path, class:'btn btn-primary' %>
    </div>
  <% else %>
    <div class="row-fluid">
      <h3>Wikis</h3>
      <%= @wikis.each do |wiki| %>
        <div class="media">
          <%= link_to wiki.title, wiki %>
        </div>
      <% end %>
    </div>
    </br>
    <div class="media">
      <%= link_to "Create New Wiki", new_wiki_path, class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
